*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-color: blue;
    height: 75px;
    width: 100%;
}


.logo{
    color: wheat;
    line-height: 75px;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
   

}

nav ul{
    float: right;
    
    margin-right: 750px;
}

nav ul li{
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
    
}

nav ul li a{
    color: wheat;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    background: blueviolet;
    transition: .5s;
}

.accsummary h1{
    text-align: center;
    margin-top: 50px;
}

.accsummary{
    background-color: violet;
    height: 700px;
}



table{
    margin-top: 100px;
    margin-left: 450px;
    border: 2px solid red;
    width: 1000px;
    height: 40px;
    background-color: aliceblue;
}

tr{
    height: 40px;
    padding: 40px;
    border: 2px solid red;
}

td{
    text-align: center;
    border: 2px solid aqua;
}

.cardblock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

}

.whywebetter{
    text-align: center;
    margin-top: 20px;
}

#slider{
    margin-left: 800px;
}

.wearebetter{
    margin-top: 10px;
    text-align: center;
}

button{
    width: 70px;
}

.editTable{
    margin-top: 70px;
    margin-left: 800px;
    
}

